In [2]:
print('Hello World')

Hello World

In [3]:
num = 34
print(num)

34

In [4]:
num1 = 34.35
print(num1)

34.35

In [5]:
print(type(num))
print(type(num1))

<class 'int'>
<class 'float'>

In [6]:
num = 521481274618527468245246182
print(num)

521481274618527468245246182

In [7]:
num = 5463.2538
print(num)

5463.2538

In [8]:
name = 'Tushar'

In [9]:
print(name)
print(type(name))

Tushar
<class 'str'>

In [10]:
num, num1, num2 = 45, 88, 34

In [11]:
print(num)

45

In [12]:
print(num1)

88

In [13]:
num, num1, num2 = 45, 'hello', 56.89

In [14]:
print(num1)

hello

In [15]:
num1 = num2 = num3 = 67

In [16]:
print(num1)

67

In [17]:
num1 = 45
num2 = 55
result = num1 + num2
print('Addition is', result)

Addition is 100

In [18]:
num1 = 45; num2 = 55; result = num1 + num2; print('Addition is', result)

Addition is 100

In [19]:
name = 'Tushar'

In [20]:
name

'Tushar'

In [21]:
name.upper()

'TUSHAR'

In [22]:
help(name.replace)

Help on built-in function replace:

replace(old, new, count=-1, /) method of builtins.str instance
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [23]:
name.startswith('T')

True

In [24]:
name.endswith('x')

False

In [25]:
name.replace('u','oo')

'Tooshar'

In [26]:
name.swapcase()

'tUSHAR'

In [27]:
print('HelloWorld')

HelloWorld

In [28]:
print('Hello\nWorld')

Hello
World

In [29]:
print('Hello\tWorld')

Hello	World

In [30]:
print('Hello\bWorld')

HelloWorld

In [31]:
name = 'Tushar'
marks = 67.89

In [32]:
print('My name is',name,'and marks are',marks)

My name is Tushar and marks are 67.89

In [33]:
print('My name is %s and marks are %f' %(name,marks))

My name is Tushar and marks are 67.890000

In [34]:
print('My name is %s and marks are %i' %(name,marks))

My name is Tushar and marks are 67

In [35]:
print('My name is %s and marks are %.1f' %(name,marks))

My name is Tushar and marks are 67.9

In [37]:
# This is simple statement
print(name, marks)

Tushar 67.89

In [38]:
mydata = '''Hi friends
How are you?
Welcome to Pytho Programming'''

In [39]:
print(mydata)

Hi friends
How are you?
Welcome to Pytho Programming

In [40]:
'''My first program
Date: 7.9.2023'''

num1 = 45
num2 = 55
result = num1 + num2
print('Addition is', result)

Addition is 100

#### Arithmetic Operators

In [42]:
num1 = 45
num2 = 16

In [43]:
result = num1 + num2
print(result)

61

In [44]:
num1 - num2

29

In [46]:
num1 * num2

720

In [47]:
num1 / num2

2.8125

In [48]:
# quotient
num1 // num2

2

In [49]:
# remainder
num1 % num2

13

In [50]:
# raised to
num1 ** num2

282748441902441558837890625

#### Relational Operators

In [52]:
print(num1 > num2)
print(num1 >= num2)
print(num1 < num2)
print(num1 <= num2)
print(num1 == num2)
print(num1 != num2)

True
True
False
False
False
True

In [54]:
num1 = int(input('Enter first number: '))
num2 = int(input('Enter second number: '))
add = num1 + num2
print('Addition is:', add)

Enter first number: 56
Enter second number: 44
Addition is: 100

In [55]:
num1 = input('Enter first number: ')
num2 = input('Enter second number: ')
add = int(num1) + int(num2)
print('Addition is:', add)

Enter first number: 21
Enter second number: 79
Addition is: 100